html {
  scroll-behavior: smooth;
}
body {
  background-color: #222f3e;
  color: #fff;
  font-weight: 500;
  min-width: 300px;
  font-family: Comfortaa, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}
nav.navbar-dark {
  background-color: #222f3e;
}
.white-bg {
  background-color: #fff;
}
.light-blue-bg {
  background-color: #00a89d;
}
.main-blue-color {
  color: #222f3e;
}
.text-color-buy {
  color: #16e7cf;
}
.text-color-sell {
  color: #ff644e;
}
p {
  margin: 20px auto;
}
h1 {
  margin: 30px auto;
  font-size: 30px;
}
.navbar-brand img {
  width: 150px;
}
.navbar-expand-lg .navbar-nav .nav-link,
.navbar-toggler-icon {
  color: #fff;
  cursor: pointer;
  outline: none;
}
.navbar-expand-lg .navbar-nav .Register,
.navbar-expand-lg .navbar-nav .Login {
  width: 100px;
  text-align: center;
  border: 1px solid #fff;
  margin: 0 5px;
  border-radius: 25px;
  padding: 5px;
}
.navbar-expand-lg .navbar-nav .Register,
.navbar-expand-lg .navbar-nav .Login:hover {
  background-color: #222f3e;
  color: #fff;
}
.navbar-expand-lg .navbar-nav .Register:hover,
.navbar-expand-lg .navbar-nav .Login {
  background-color: #fff;
  color: #222f3e;
}
.Slide img {
  width: 100%;
  height: 600px;
  object-fit: fill;
  margin-top: 76px;
}
.Slide .Content {
  position: absolute;
  top: 120px;
  max-width: 1200px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.Slide .Content h1 {
  color: #fff;
}
/* .Slide .input-group {
  width: 40%;
  margin: auto;
} */
.Slide .input-group input {
  background-color: transparent;
  color: #fff;
  border-color: #16e7cf;
  font-size: 10px;
}
footer .input-group-text {
  background-color: #16e7cf;
  color: #fff;
  border-color: #00a89d;
  cursor: pointer;
  width: 70px;
  justify-content: center;
}
.Slide .input-group-text {
  background-color: #16e7cf;
  color: #fff;
  border-color: #16e7cf;
  cursor: pointer;
  width: 60px;
  justify-content: center;
  font-size: 10px;
  padding: 0;
}
.Slide .left,
footer .left {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.Slide .right,
footer .right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.Content {
  text-align: center;
  margin: 20px auto;
}
.intro .col-4 {
  background-color: #283547;
}
.problem .Top,
.white-paper .Top {
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  padding-bottom: 20px;
  background-color: #00a89d;
  color: #fff;
}
.problem .Top img,
.white-paper .Top img {
  padding: 10px;
  border-radius: 50px;
  width: 85px;
  height: 85px;
  object-fit: contain;
  margin-top: -42.5px;
  background: #222f3e;
  border: 10px solid #00a89d;
}
.problem .Bottom,
.white-paper .Bottom {
  background-color: #283547;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius: 0.125px;
  border-bottom-right-radius: 0.125px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.problem button {
  border-radius: 2rem;
  background-color: #fff;
  border: 1px solid #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  outline: none;
  color: #222f3e;
}
.problem button:hover {
  background-color: #222f3e;
  color: #fff;
}
.problem p {
  display: flex;
  align-items: center;
  height: 40%;
}
.white-paper button {
  background-color: transparent;
  padding: 5px 0;
  border-radius: 5px;
  border: #00a89d 1px solid;
  outline: none;
  color: #fff;
  margin: 10px auto;
  width: 150px;
}
.white-paper button:hover {
  background-color: #00a89d;
}
.white-paper .Bottom {
  height: auto;
}
.white-paper .Top {
  padding-top: 20px;
}
#Total .img-fluid,
.rounds .img-fluid {
  width: 70%;
}
iframe {
  width: 100%;
}
.intro .card-body,
.intro .card-text,
.sp-coin .card-body,
.sp-coin .card-text {
  height: 100%;
  display: flex;
  align-items: center;
}
.card img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
.intro .card img,
.sp-coin img {
  height: 75px;
  width: 75px;
  padding: 10px;
}
.card {
  color: #fff;
  cursor: default;
  background-color: #00a89d;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-footer,
.card-header {
  background-color: #283547;
}
.card p {
  margin: auto;
}
.card .col-3 {
  background: #283547;
  display: flex;
}
.card .no-gutters {
  height: 120px;
}
.news img {
  height: 130px;
  width: 100%;
  object-fit: cover;
}
#media img {
  height: 70px;
  width: 100%;
}
#media .card,
.news .card {
  margin-bottom: 1rem;
}
.news a {
  color: #16e7cf;
}
.news .card-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
footer {
  /* box-shadow: rgb(225, 229, 234) 0px -1px 2px 0px; */
  padding-bottom: 50px;
}
footer .col div {
  color: #fff;
  padding: 5px 0;
}
footer .col img {
  height: 20px;
  width: 20px;
  object-fit: contain;
}
footer a {
  color: #fff;
}
.hidden-id {
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}
.news .card,
.news .card-footer,
#media .card {
  background-color: #fff;
  color: #000;
}
.Specialties .card,
#Ecosystem .card {
  height: 100%;
}
footer .form-control {
  border: none !important;
  box-shadow: none !important;
}
footer .input-group-text {
  width: 100px;
  outline: none;
}
.circle {
  width: 100%;
  /* margin: 6px 6px 20px; */
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}
.circle canvas {
  vertical-align: top;
}
.circle strong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}
.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px;
}
p {
  margin: 40px auto;
}
.input-group-prepend svg {
  width: 15px;
  height: 15px;
}
#Ecosystem a {
  cursor: pointer;
  text-decoration: none;
}
iframe {
  margin: auto;
  margin-bottom: 1rem;
}
.big-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 200px;
  max-height: 200px;
}
.small-circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  max-width: 150px;
  max-height: 150px;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  font-size: 10px;
  width: 4em;
  height: 4em;
  margin-top: -2em;
  top: 50%;
  border-top: 1px solid #73fdea;
  border-left: 1px solid #73fdea;
  transform: rotate(-54deg) skew(-20deg);
  background: none;
  outline: none;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  font-size: 10px;
  width: 4em;
  height: 4em;
  margin-top: -2em;
  top: 50%;
  border-top: 1px solid #73fdea;
  border-right: 1px solid #73fdea;
  transform: rotate(54deg) skew(20deg);
  background: none;
  outline: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 3px;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 3px;
}
.swiper-pagination {
  position: relative;
}
.swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  background: #73fdea;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -4px;
}
#media .card {
  box-shadow: none;
}
.rounds span {
  font-size: 13px;
}
.embed-responsive iframe {
  height: 95%;
}
.videos {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  footer {
    padding-bottom: 600px !important;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  footer {
    padding-bottom: 200px !important;
  }
}
@media (max-height: 600px), (max-width: 480px) {
  .credits {
    position: inherit;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .Slide img {
    object-fit: cover;
  }
}
/* 
Extra large devices (large desktops)
No media query since the extra-large breakpoint has no upper bound on its width */

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .problem .Bottom {
    height: auto;
  }
  .Specialties .Bottom {
    height: auto;
  }
  .navbar-expand-lg .navbar-nav .Register,
  .navbar-expand-lg .navbar-nav .Login {
    margin-bottom: 10px;
  }
  .news .card-text {
    min-height: auto;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .problem .col,
  .Specialties .col {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .problem .Bottom,
  .problem .Connection .Bottom {
    height: auto;
  }
  .round-2,
  .round-3 {
    display: none;
  }
  .Slide .input-group {
    width: 100%;
  }
  iframe {
    height: calc(89vw * 9 / 16);
    width: 89vw;
  }
  /* .big-circle {
    width: 20vw;
    height: 20vw;
  }
  .small-circle {
    height: 15vw;
    width: 15vw;
  } */
}

/*Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .intro .card img,
  .sp-coin img {
    width: 60px;
    height: 60px;
  }
  .big-circle {
    width: 70px;
    height: 70px;
  }
  .small-circle {
    height: 40px;
    width: 40px;
  }
  .rounds p,
  .rounds span {
    font-size: 10px;
  }
  .card .no-gutters {
    height: 135px;
  }
  .Slide img {
    height: 95vh;
  }
}

@media (max-width: 350px) {
  .Slide img {
    height: 120vh;
  }
}
