.roadmap .swiper-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  /* background: linear-gradient(90deg, #253569 0%, #f6853f 65%, #24356a 100%); */
  background: linear-gradient(90deg, #253569 0%, #16e7cf 65%, #24356a 100%);
  top: 45px;
}
.roadmap .swiper-container .swiper-slide .roadmap-info .date {
  position: absolute;
  top: -60px;
  left: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.1px;
  color: #fff;
}
.roadmap .swiper-container .swiper-slide {
  border: none;
}
.swiper-control {
  display: none;
}
.roadmap .swiper-container .swiper-slide .roadmap-info.active {
  background: linear-gradient(180deg, #16e7cf 0%, #00a89d 32.81%, #222f3e 100%);
  box-shadow: none;
}
.roadmap .swiper-container .swiper-slide .roadmap-info {
  position: relative;
  margin: 70px 10px 0;
  padding: 15px;
  background: linear-gradient(
    180deg,
    rgba(71, 88, 168, 0.4) 0%,
    rgba(57, 70, 134, 0) 100%
  );
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
}
.roadmap .swiper-slide.active .roadmap-info:after,
#partners .swiper-slide.active .roadmap-info:after {
  display: none;
}
.roadmap .swiper-container .swiper-slide .roadmap-info.active .date {
  color: #16e7cf;
}
.roadmap .swiper-container .swiper-slide .roadmap-info .status {
  padding: 20px;
}
